<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>20</batches>
  <inactive>10</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>-1 -1 -1 1 1 1</parameters>
    </space>
  </source>
  <trigger>
    <active>true</active>
    <max_batches>100</max_batches>
  </trigger>
</settings>
